* {
    font-family: Arial, Helvetica, sans-serif;
}

#alarma {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    background-color: rgba(255, 0, 0, 0.801);
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin: auto;
}

#form {
    margin: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}

#form > input {
    margin: 10px 0;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}

#form > input[type="number"]:read-only {
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
}

#form > input[type="submit"] {
    cursor: pointer;
}

#detener {
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: none;
    margin: auto;
}

#alerta {
    padding: 4rem;
    background-color: rgba(126, 112, 112, 0.801);
}

#alerta > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background-color: rgba(126, 112, 112, 0.801);
    color: white;
    font-size: 50px;
    font-weight: bold;
}

#alerta button {
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}

#alerta button:hover {
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
}

#alerta #postponer {
    width: 150px;
}
