input[type="number"] {
    width: 250px;
    text-align: center;
}

#images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 350px;
}

fieldset {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}