/* Eliminar flechas del input number en #codigo_postal */

/* Chromium y Safari */
#codigo_postal::-webkit-outer-spin-button,
#codigo_postal::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
#codigo_postal[type="number"] {
    -moz-appearance: textfield;
}

#cuenta_div > span {
    display: none;
}

#cuenta:checked + span  {
    display: block;
}

textarea {
    resize: none;
}